<nav class="navbar fixed-bottom navbar-light p-0 d-none d-md-inline">
  <img src="mariowave.gif" height="100px" class="d-none d-md-inline" style="margin-bottom: -30px;"><img src="castle.gif" class="d-none d-md-inline" height="100px">
</nav>